<div class="course-card">
  <div class="course-image">
    <img [src]="course.pictureUrl" [alt]="course.title">
    <span class="tag">{{ course.category }}</span>
  </div>
  <div class="course-content">
    <div class="course-meta">
      <span class="instructor">{{ course.instructorName }}</span>
      <div class="rating">
        <i class="fa-solid fa-star"></i>
        <span>{{ course.averageRate }}</span>
        <span class="reviews">({{ course.totalReviews }})</span>
      </div>
    </div>
    <h3 class="course-title">{{ course.title }}</h3>
    <div class="course-footer">
      <div class="price-container">
        <span class="price">${{ course.cost }}</span>
      </div>
      <div class="d-flex gap-2">
        <button class="btn-enroll" [routerLink]="['/courses', course.id]">
          <i class="fa-solid fa-eye"></i>
        </button>
        <button class="btn-enroll">
          <i class="fa-solid fa-cart-plus"></i>
        </button>
      </div>
    </div>
  </div>
</div>